

h2{
 
  text-align: center;
  color: blue;
}

#cabecera{
	color: rgb(255,255,255);
	 background-color: rgb(7,134,141);
	 text-align: center;
}

img{
	width: 440px;
	height: 440px;
}

#izquierda{
	background-color: rgb(7,134,141);
	width: 455px;
	height: 455px;
}

#centro{
	background-color: rgb(254,254,254);
	width: 455px;
	height: 455px;
}

#derecha{
	background-color: rgb(7,134,14);
	width: 455px;
	height: 455px;
}